@use './variables' as *;

//mixins to be used through out the site

//mixins to enable resposive design at different viewport widths
@mixin tablet {
    @media screen and (min-width: $tablet-breakpoint) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: $desktop-breakpoint) {
        @content;
    }
}

@mixin large-desktop {
    @media screen and (min-width: $large-desktop-breakpoint) {
        @content;
    }
}

@keyframes menu-open1 {
    50% {
        transform: translateY(3.25px);
    }

    100% {
        transform: translateY(3.25px) rotateZ(45deg);
    }
}

@keyframes menu-open2 {
    50% {
        transform: translateY(-3.25px);
    }

    100% {
        transform: translateY(-3.25px) rotateZ(-45deg);
    }
}

@keyframes menu-close1 {
    0% {
        transform: translateY(3.25px) rotateZ(45deg);
    }

    50% {
        transform: translateY(3.25px) rotateZ(0deg);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes menu-close2 {
    0% {
        transform: translateY(-3.25px) rotateZ(-45deg);
    }

    50% {
        transform: translateY(-3.25px) rotateZ(0deg);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes modal-open {
    0% {
        transform: translateY(-5%);
        opacity: 0.5;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes modal-close {
    0% {
        transform: translateY(0%);
        opacity: 1;
    }

    75% {
        opacity: 0.5;
    }

    100% {
        transform: translateY(-5%);
    }
}

@keyframes menu-items {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes menu-items-close {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes offer {
    0% {
        transform: translateY(-100%);
        background-color: #0071e3;
    }

    25% {
        transform: translateY(0%);
        background-color: #0071e3;
    }

    60% {
        background-color: #0071e3;
    }

    100% {
        content: normal;
        background-color: $secondary-colour-text;
    }
}

@keyframes offer-text {
    0% {
        color: white;
    }

    25% {
        color: white;
    }

    60% {
        color: white;

    }

    100% {
        color: $primary-colour-text;
    }
}

@keyframes carousel {
    from {
        transform: translateX(50%);
    }

    to {
        transform: translateX(0%);
    }
}