//breakpoint variables
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
$large-desktop-breakpoint: 1920px;

//text
$primary-colour-text: #1d1d1f;
$secondary-colour-text: #F5F5F7;
//cta
$primary-colour-cta: #0066CC; 
$secondary-colour-cta: #2997FF; //Used against dark backgrounds
//other
$primary-colour-background: #FFFFFF; 
$secondary-background-color: rgba(0, 0, 0, 0);
