@use '../../styles/_partials.scss/variables' as *;
@use '../../styles/_partials.scss/fonts' as *;
@use '../../styles/_partials.scss/mixins' as *;

.navCarousel {
    padding: 0 2.0625rem;
    margin: 0;
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0.5rem 0;


    &__list {
        list-style: none;
        display: flex;
        overflow-x: auto;
        padding: 0;
        margin: 0.75rem 0;
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
            display: none;
        }

    }

    &__item {
        width: 6.25rem;
    }

    &__item-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: fit-content;
        margin: 0 auto;

        &--hover {
            cursor: pointer;
        }
    }

    &__icon {
        height: 3.375rem;
        margin: 0 0 0.4375rem 0;
    }

    &__name {
        margin: 0;
        font-size: .75rem;

        &--hover {
            color: $primary-colour-cta;
        }
    }

    &__info {
        margin: 0;
        font-size: .625rem;
        color: #bf4800;
    }

    &__paddles {
        position: absolute;
        top: -0.75rem;
        left: 0;
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 0;
    }

    &__paddle {
        width: 2.125rem;
        border: none;
        height: 6.25rem;
        padding: 0;
        background-color: $primary-colour-background;
        margin: 0.5rem 0;
        background-size: 0.5rem;
        background-repeat: no-repeat;
        background-position: center;

        &--left {
            border-right: .0625rem solid #d2d2d7;
            background-image: url('../../assets/icons/left-chevron.svg');
            animation: menu-items 0.15s ease-in-out;

            &:hover {
                cursor: pointer;
            }
        }

        &--right {
            border-left: .0625rem solid #d2d2d7;
            background-image: url('../../assets/icons/right-chevron.svg');
            animation: menu-items 0.15s ease-in-out;

            &:hover {
                cursor: pointer;
            }
        }

        &--disable {
            animation: menu-items-close 0.15s ease-in-out;
            animation-fill-mode: forwards;

            &:hover {
                cursor: default;
            }
        }
    }
}